@use "../../presets" as *;
@use "../../mixins" as *;

.header-content {
  position: relative;
  z-index: 1;

  &__container {
    @extend %container;
  }

  &__title {
    text-align: center;

    @media (min-width: 992px) {
      margin: 0 0 53px;
    }
    @media (max-width: 991.8px) and (min-width: 768px) {
      margin: 0 0 43px;
    }
    @media (max-width: 767.08px) {
      margin: 0 0 33px;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;

    gap: $gap;
  }
}
